*{
  padding: 0;
  margin:0;
  user-select: none;
}
.header{
  width: 100%;
  min-width: 1000px;
  height: fit-content;
  border-bottom: 1px solid green;
  margin: 10px 0;

}
.headermain{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.header_logo{
  width:380px ;
}
.search{
  width: 20%;
  height: 108px;
  position: relative;
}

.search input{
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  border-radius: 2px;
  border: 1px solid green;
  box-sizing: content-box;
}
.search input:focus {
  
  outline: none;
}
.search #search-icon{
  width: 39px;
  height: 39px;
  background: none;
  border: none;

}
.search input~#search-icon{
  position: relative;
  top: -38px;
  right: -25px;
  float: right;
}
.data{
  display: none;
  width: 100%;
  height: 300px;
  
  position: absolute;
  background-color: rgba(128, 128, 128,0.4);
}
.nav{
  width: 25%;
}
.nav ul{
  list-style-type: none;
  display: flex;
}
.nav ul li{
  line-height: 108px;
  padding:0 10px;
  font-size: large;
  font-weight: bold;
}

.nav ul li a{
  text-decoration: none;
  color: green;
}
.headernav{
  width: 100%;
  height: fit-content;
}
.menu{
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style:none;
  margin-bottom: 1em;
}
.menu li{
  width: 12%;
  text-align: center;
}
.menu li:nth-child(5){
  border-right: 1px solid rgba(0, 0, 255,0.3);
}
.menu li a{
  text-decoration: none;
  color: green;
}
.menu li a:hover{
  text-decoration: underline;
}